<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cudpast.app.doctor.doctorApp">


    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_hospital"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_hospital"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Others.MapsActivity"
            android:label="@string/title_activity_maps"></activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_hospital" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/backgroundGray" />
        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />
        <!-- LAUNCHER -->
        <activity android:name=".Activities.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- DEFAULT -->
        <activity
            android:name=".Business.DoctorBooking"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="">
            <intent-filter>
                <action android:name=".Business.DoctorBooking" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Secondary -->
        <activity
            android:name=".Activities.SplashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Business.DoctorError"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Business.DoctorFinish"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Business.DoctorCancelOnRoad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Business.DoctorCancel"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Business.Cancel.DoctorTimeOut"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Extra.TestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Extra.UpdatePwdDoctor"
            android:parentActivityName=".Activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Extra.UpdatePhotoDoctor"
            android:parentActivityName=".Activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Extra.UpdateProfileDoctor"
            android:parentActivityName=".Activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Business.DoctorEnd"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Business.DoctorRoad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- Notification -->
        <service
            android:name=".Service.MyFirebaseMessaging"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>